@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@media (min-width: 768px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
}

:root {
  --accent-color: #BA2360;
  --bs-body-color: #242A42;
}
html{
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
nav,h1,h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
p{
    font-size: 1.5em;
}
section{
    display: flex;
}
section [class^="container"] {
  padding: 4rem 2rem;
  min-height: 100vh;
  align-content: center;
  
}
@media screen and (min-width: 1024px) {
  section [class^="container"] {
    padding: 4rem;
  }
  nav [class^="container"] {
    padding: 0 4rem;
  }
}

section:not(:first-of-type) {
  text-align: center;
  
}

section:nth-child(2n) {
  background-color: #E2E8FF;
}

.container a {
  color: #242A42;
  text-decoration: none;
}
.container a:hover {
  color: var(--accent-color);
}

section .card,
.btn-outline-dark {
  border: 2px solid #242A42;
  box-shadow: 4px 4px #242A42;
  transition: all 0.4s;
}
.btn-outline-dark:hover {
  box-shadow: 4px 4px var(--accent-color);
}


/* NAVBAR */

.navbar {
  background-color: #ffffff;
}

.navbar-nav .nav-link {
  color: #242A42;
  font-size: 1.1rem;
  transition: all 0.5s;
}
.navbar-nav .nav-link:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 1024px) {
  .navbar-nav .nav-item {
    padding: 0 1rem;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
}

/* HERO */

section.hero {
  padding-top: 72px;
}
@media screen and (max-width: 576px) {
  section.hero {
    text-align: center;
  }
  section.hero img {
    width: 80%;
    margin: 0.5rem 0;
  }
}

/* SKILLS */

section.skills i {
  font-size: 2rem;
  margin: 1rem auto 0;
  border: 2px solid #242A42;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: #E2E8FF;
}

section .card {
  max-width: 22rem;
  min-height: 20rem;
  margin-inline: auto;
}
@media screen and (max-width:720px){
    section .card {
  max-width: 22rem;
  min-height: auto;
  margin-inline: auto;
    }
}
/* ABOUT */
@media screen and (min-width: 1024px) {
  section.about .container,
  section.projects .container {
    width: 60%;
  }
}

/*projects*/
.card p{
    font-size: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 #242A42;
  border: none;
  height: 100%;
  max-height: 35em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #fff;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  top: 60%;
  transform: translateY(-50%);
}

@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
@media (min-width: 768px) {
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
    position: absolute;
    left: 1em;
    top: 90%;
    transform: translateY(-50%);
  }
  .carousel-control-next {
    left: 50em;
  }
}


/* CONTACT */
section.contact .social-media a {
  padding: 0 0.5rem;
  font-size: 1.3rem;
}
form{
    margin: 2em;
    max-width: 100%;
}
@media screen and(min-width:720px) {
    form{
    margin: 2em;
    max-width: 50%;
}
}