@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght,BNCE@0,600,31;1,600,31&display=swap');

:root {
  --lightbox: rgb(0 0 0 / 0.75);
  --carousel-text: #fff;
  --text: #090a06;
    --background: #fafbf7;
    --primary: #98ba50;
    --secondary: #c2da8e;
    --accent: #b7d86e;
}
html{
    color:var(--text);
}
body {
  margin: 1.5rem 0 3.5rem;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color:value(--text);
}
section{
    min-height: 100vh;
    padding: 2vh;
}
#hero{
    min-height: 70vh;
}


h1,h2,h3{
    font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "BNCE" 31,
    "INFM" 0,
    "SPAC" 0;
    color: var(#98ba50);
}



.navbar-nav .nav-link {
  color:var(--text);
  font-size: 1.1rem;
  transition: all 0.5s;
}
.navbar-nav .nav-link:hover {
  color: var(--primary);
}
.navbar-nav .nav-link .button:hover {
  color: var(--primary);
}

.btn-outline-dark {
  border: 2px solid var(--text);
  box-shadow: 4px 4px var(--text);
  transition: all 0.4s;
}
.btn-outline-dark:hover {
  box-shadow: 4px 4px var(--primary);
}
@media screen and (min-width: 1024px) {
  .navbar-nav .nav-item {
    padding: 0 1rem;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
}


section:nth-child(2n) {
  background-color: #f4ffdc;
}

h1,h2,h3 .titles{
    text-align: center;
    margin: 2em;
}

.gallery-item {
  display: block;
  height:390px;
  overflow:hidden;
}

.gallery-item img {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
 
  margin-bottom: 1rem;
}

.gallery-item:hover img {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
}

.lightbox-modal .modal-content {
  background-color: var(--lightbox);
}

.lightbox-modal .btn-close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 1.25rem;
  z-index: 10;
  filter: invert(1) grayscale(100);
}

.lightbox-modal .modal-body {
  display: flex;
  align-items: center;
  padding: 0;
}

.lightbox-modal .lightbox-content {
  width: 100%;
}

.lightbox-modal .carousel-indicators {
  margin-bottom: 0;
}

.lightbox-modal .carousel-indicators [data-bs-target] {
  background-color: var(--carousel-text) !important;
}

.lightbox-modal .carousel-inner {
  width: 50%;

}

.lightbox-modal .carousel-inner img {
  animation: zoomin 10s linear infinite;
  
}

.lightbox-modal .carousel-item .carousel-caption {
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 2rem;
  background-color: var(--lightbox);
  color: var(--carousel-text) !important;
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
  width: auto;
}

.lightbox-modal .carousel-control-prev {
  left: 1.25rem;
}

.lightbox-modal .carousel-control-next {
  right: 1.25rem;
}

@media (min-width: 1400px) {
  .lightbox-modal .carousel-inner {
    max-width: 60%;
  }
}

[data-bs-theme=dark] .lightbox-modal {
  --bs-carousel-control-icon-filter: none;
}

.btn-fullscreen-enlarge,
.btn-fullscreen-exit {
  position: absolute;
  top: 1.25rem;
  right: 3.5rem;
  z-index: 10;
  border: 0;
  background: transparent;
  opacity: .6;
  font-size: 1.25rem;
}

.bi {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.035em;
  fill: currentcolor;
}
